<article>
  <div>
    <div>
      <div>
        <a>{{blog_title}}</a>
      </div>
      <div>
        <p>
          Posted by {{user.name}}
        </p>
      </div>
    </div>
    <div>
      <p>{{blog_text}}</p>
    </div>
  </div>
</article>