<!DOCTYPE html>
<html lang="en-US">
    
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Heaven</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link ref="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        <h1>
          <a href="/" class="navbar-title">Home</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout-button">Logout</button>
          {{else}}
          <li>
            <a href="/login">Login</a>
          </li>

          <li>
            <a href="/signup">Signup</a>
          </li>
          {{/if}}
        </nav>
      </header>
      <div>
        <div>
          <h1>Tech Heaven</h1>
        </div>
      </div>
      <main>
        {{{body}}}
      </main>
    </div>

    {{#if loggedIn}}
    <script src="./js/logoutHandler.js"></script>
    {{/if}}
  </body>
  
</html>