<a>Go Back</a>

<article>
  <section>
    <div>
      <h2>Create a Blog Post</h2>
    </div>
    <div>
      <form>
        <div>
          <label>Blog Title</label>
          <input />
        </div>
        <div>
          <label>Blog Text</label>
          <input />
        </div>
        <div>
          <button>Create Post</button>
        </div>
      </form>
    </div>
  </section>
</article>

<script></script>