<section>

  <div>
    <h2>Hello, {{name}}</h2>
  </div>

</section>

<section>

  <div>
    <h3>Create a New Blog Post</h3>
  </div>

  <form class="create-blog-post">
  
    <div>
      <input id="title" />
    </div>

    <div>
      <textarea id="description"></textarea>
    </div>

    <div>
      <button>Create Post</button>
    </div>

  </form>

</section>

{{#if blogposts.length}}
<section class="blogposts">
  <h3>Posts</h3>

  {{#each blogposts as |blogpost|}}
  <section>
    <div>
      <h4><a>{{blogpost.blog_title}}</a></h4>
    </div>
    <div>
      <button data-id="{{blogpost.id}}">Delete</button>
    </div>
    {{/each}}
  </section>
  {{/if}}
</section>

<script src="./js/dashHandler.js"></script>