<section>
  <div>
    <h1>Signup</h1>
  </div>
  <div>
    <form>
      <div>
        <label>Name</label>
        <input />
      </div>
      <div>
        <label>Password</label>
        <input />
      </div>
      <div>
        <button>Signup</button>
      </div>
    </form>
  </div>

  <a>Login</a>
</section>

<script></script>