<section>
  <div>
    <h1 class="signup-title">Signup</h1>
  </div>
  <div>
    <form class="form-signup">
      <div>
        <label>Name</label>
        <input id="name-signup" />
      </div>
      <div>
        <label>Password</label>
        <input id="password-signup" />
      </div>
      <div>
        <button>Signup</button>
      </div>
    </form>
  </div>

  <a>Login</a>
</section>

<script src="./js/signupHandler.js"></script>