<a>Go Back</a>

<article>
  <section>
    <div>
      <h2>Edit</h2>
    </div>
    <div>
      <form>
        <div>
          <label>Blog Title</label>
          <input />
        </div>
        <div>
          <label>Blog Text</label>
          <textarea>{{blogpost.blog_text}}</textarea>
        </div>
      </form>
    </div>
  </section>
</article>

{{#if loggedIn}}
<script></script>
<script></script>
{{/if}}